apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-init
data:
  V1__baseline.sql: |-
{{ .Files.Get "sql/V1__baseline.sql" | indent 4 }}
  V1.1__init.sql: |-
{{ .Files.Get "sql/V1.1__init.sql" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-fake-data
data:
  V1.2__fake_data.sql: |-
{{ .Files.Get "sql/V1.2__fake_data.sql" | indent 4 }}


