apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-init
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-4"
data:
  V1__baseline.sql: |-
{{ .Files.Get "sql/V1__baseline.sql" | indent 4 }}
  V1.1__init.sql: |-
{{ .Files.Get "sql/V1.1__init.sql" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-fake-data
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-4"
data:
  V1.2__fake_data.sql: |-
{{ .Files.Get "sql/V1.2__fake_data.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-v2
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-4"
data:
  V2__remove_requires_apartment_access_add_capacity.sql: |-
{{ .Files.Get "sql/V2__remove_requires_apartment_access_add_capacity.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-v3
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-4"
data:
  V3__add_matrix_bot_tables.sql: |-
{{ .Files.Get "sql/V3__add_matrix_bot_tables.sql" | indent 4 }}
  V3.1__add_qr_code_url_to_contact_numbers.sql: |-
{{ .Files.Get "sql/V3.1__add_qr_code_url_to_contact_numbers.sql" | indent 4 }}
  V3.2__add_llm_judge_evaluations_table.sql: |-
{{ .Files.Get "sql/V3.2__add_llm_judge_evaluations_table.sql" | indent 4 }}
  V3.3__add_matrix_user_id_to_users.sql: |-
{{ .Files.Get "sql/V3.3__add_matrix_user_id_to_users.sql" | indent 4 }}
  V3.4__add_recent_db_changes.sql: |-
{{ .Files.Get "sql/V3.4__add_recent_db_changes.sql" | indent 4 }}
  V3.5__add_assistant_debug_conversations.sql: |-
{{ .Files.Get "sql/V3.5__add_assistant_debug_conversations.sql" | indent 4 }}
  V3.6__add_incidents_schema.sql: |-
{{ .Files.Get "sql/V3.6__add_incidents_schema.sql" | indent 4 }}
  V3.7__add_incident_application.sql: |-
{{ .Files.Get "sql/V3.7__add_incident_application.sql" | indent 4 }}
  V3.8__add_skipped_status_to_newsletter_logs.sql: |-
{{ .Files.Get "sql/V3.8__add_skipped_status_to_newsletter_logs.sql" | indent 4 }}
  V3.9__add_board_member_and_incident_visibility.sql: |-
{{ .Files.Get "sql/V3.9__add_board_member_and_incident_visibility.sql" | indent 4 }}
  V3.10__add_axis_door_controllers.sql: |-
{{ .Files.Get "sql/V3.10__add_axis_door_controllers.sql" | indent 4 }}
  V3.11__add_unifi_door_controllers.sql: |-
{{ .Files.Get "sql/V3.11__add_unifi_door_controllers.sql" | indent 4 }}
  V3.12__sync_schema_with_init.sql: |-
{{ .Files.Get "sql/V3.12__sync_schema_with_init.sql" | indent 4 }}
  V3.13__add_spaces_location_columns.sql: |-
{{ .Files.Get "sql/V3.13__add_spaces_location_columns.sql" | indent 4 }}
  V3.14__add_usage_conditions_to_users.sql: |-
{{ .Files.Get "sql/V3.14__add_usage_conditions_to_users.sql" | indent 4 }}
  V3.15__add_user_devices.sql: |-
{{ .Files.Get "sql/V3.15__add_user_devices.sql" | indent 4 }}
