apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-init
data:
  V1__baseline.sql: |-
{{ .Files.Get "sql/V1__baseline.sql" | indent 4 }}
  V1.1__init.sql: |-
{{ .Files.Get "sql/V1.1__init.sql" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-fake-data
data:
  V1.2__fake_data.sql: |-
{{ .Files.Get "sql/V1.2__fake_data.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-v2
data:
  V2__remove_requires_apartment_access_add_capacity.sql: |-
{{ .Files.Get "sql/V2__remove_requires_apartment_access_add_capacity.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-v3
data:
  V3__add_matrix_bot_tables.sql: |-
{{ .Files.Get "sql/V3__add_matrix_bot_tables.sql" | indent 4 }}



