apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-part1
data:
  V1__baseline.sql: |-
{{ .Files.Get "sql/V1__baseline.sql" | indent 4 }}
  V1.1__init.sql: |-
{{ .Files.Get "sql/V1.1__init.sql" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-part2
data:
  V2__data-part1.sql: |-
{{ .Files.Get "sql/V2__data_part1.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-part3
data:
  V14__add_profile_sharing_consent_column.sql: |-
{{ .Files.Get "sql/V14__add_profile_sharing_consent_column.sql" | indent 4 }}


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-part4
data:
  V15__space_init.sql: |-
{{ .Files.Get "sql/V15__space_init.sql" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: portal-{{ .Release.Name }}-flyway-sql-part5
data:
  V16__add_cleaning_settings_to_spaces.sql: |-
{{ .Files.Get "sql/V16__add_cleaning_settings_to_spaces.sql" | indent 4 }}

